service: linklab

provider:
  name: aws
  runtime: nodejs12.x
  versionFunctions: false
  region: us-east-1
  environment:
    LINK_TABLE: ${self:service}-links-${self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeTable
      Resource: 'arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.LINK_TABLE}'
  apiGateway:
    shouldStartNameWithService: true

functions:
  graphql:
    handler: build/graphql.handler
    events:
      - http:
          path: graphql
          method: any
          cors: true

package:
  individually: true

plugins:
  - serverless-offline
