@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@700&display=swap');

html {
  --color-primary: #66a6ff;
  --color-secondary: #89f7fe;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #979c9b;
  --color-grey-3: #363b3a;
  --color-grey-4: #222425;
  --color-grey-5: #171a1b;
  --color-grey-6: #0f0f0f;
  --font-head: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Open Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  color: var(--color-grey-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
  background-color: var(--color-grey-6);
}

body h1,
body h2,
body h3 {
  font-family: var(--font-head);
}
